<div class="content">
  <div class="heading">
    {{pageTitle}}
  </div>
  <div class="search">
    <label>Search By</label>
    <input type="text" [(ngModel)]="listFilter" placeholder="...." id="searched-item" />
  </div>
  <div class="searched-by">
    <label>Searched By : {{listFilter}}</label>
  </div>
  <table class="table-data" *ngIf="products && products.length">
    <thead>
      <tr>
        <th class="tableClass">
          <button (click)="toggleImage()">{{showImage?"Hide":"Show"}} Image</button>
        </th>
        <th class="tableClass">Product</th>
        <th class="tableClass">Code</th>
        <th class="tableClass">Available</th>
        <th class="tableClass">Price</th>
        <th class="tableClass">5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td class="tableClass">
          <img [src]="product.imageUrl" *ngIf="showImage" [title]="product.productName" [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
        </td>
        <td class="tableClass">{{product.productName}}</td>
        <td class="tableClass">{{product.productCode | lowercase | convertToSpace:"-"}}</td>
        <td class="tableClass">{{product.releaseDate}}</td>
        <td class="tableClass">{{product.price | currency:"INR":true:"1.2-2"}}</td>
        <td class="tableClass">
          <app-star-component [rating]="product.starRating"></app-star-component>
        </td>
      </tr>
    </tbody>
  </table>
</div>